@import "styles.css";
@import "single-post.css";
@import "sidebar.css";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "hd hd hd hd hd hd"
    " . mn mn mn sb ."
    "ft ft ft ft ft ft";
    grid-gap: 20px;
}

/* styles for the blog posts */
.blog-posts {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: 1fr;
    grid-area: mn;
    padding: 0 15px;
}

/* media queries */
@media (min-width: 600px) {
    .blog-posts {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
}

@media (min-width: 901px) {
    .blog-posts, .header {
    }
}

@media (min-width: 1200px) {
    .blog-posts {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header {
    }
}
