.single-post {
    background-color: #fff;
    color: #333;
    height: 420px;
    display: grid;
    grid-template-rows: 200px auto;
    grid-template-columns: 1fr;
    text-decoration: none;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.single-post:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 0px #888;
    z-index: 5;
}

.single-post:hover .post-image {
    transform: scale(1.1);
}
.post-image-container {
    overflow: hidden;
}
.post-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.post-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.post-tags {
    color: #888;
    font-size: 12px;
}

.post-short-description {
    font-size: 14px;
}